body {
  margin: 0;
}

.menu {
  border-top: 3px solid #330099;
  border-bottom: 3px solid #330099;
}

.menu__wrap {
  display: flex;
  justify-content: flex-end;
  margin: 0 auto;
  padding: 31px 20px 23px 20px;
  max-width: 1180px;
}

.menu__btn {
  position: relative;
  justify-content: flex-end;
  width: 180px;
  height: 50px;
  background: #330099;
  border-radius: 50px;
  border: none;
  font: 20px/24px montserratextrabold, helvetica, sans-serif;
  color: #fff;
}

.menu__item {
  display: flex;
  text-align: center;
  margin: 15px 43px 15px 0;
  font: 20px/24px gilroy, helvetica, sans-serif;
  color: #585858;
  text-decoration: none;
}

.header__container {
  display: flex;
  justify-content: space-between;
  margin: 0;
  height: 479px;
  background: no-repeat url(img/title.svg)
}

.header__title {
  position: absolute;
  text-align: right;
  margin: 148px 130px 232px 51%;
  font: 40px/49px montserratblack, helvetica, sans-serif;
  color: #330099;
}

.header__subtitle {
  position: absolute;
  text-align: right;
  margin: 256px 128px 150px 63%;
  font: 30px/37px montserratbold, helvetica, sans-serif;
  color: #fff;
}

.advantages {
  position: relative;
  text-align:center;
}

.advantages__title {
  margin: 90px 0 0 0;
  font: 30px/37px montserratblack, helvetica, sans-serif;
  color: #585858;
  text-align: top;
}

.advantages__wrapper {
  display: flex;
  width: 82%;
  margin: auto;
}

.advantages__item {
  position: relative;
  justify-content: center;
  color: #585858;
}
.advantages__item-one {
  margin-top: 58px;
  width: 319px;
  height: 319px;
}

.advantages__item_title-one {
  margin: 33px 0 0 0;
  font: 31px/37px montserratextrabold, helvetica, sans-serif;
}

.advantages__item_subtitle-one {
  margin-top: 10px;
  font: 20px/24px montserratmedium, helvetica, sans-serif;
}

.advantages__item-two {
  margin-top: 52px;
  margin-left: 111px;
  width: 319px;
  height: 319px;
}

.advantages__item_title-two {
  margin: 23px 0 0 0;
  font: 31px/37px montserratextrabold, helvetica, sans-serif;
}

.advantages__item_subtitle-two {
  margin-top: 27px;
  font: 20px/24px montserratmedium, helvetica, sans-serif;
}

.advantages__item-thre {
  margin-top: 52px;
  margin-left: 86px;
  width: 345px;
  height: 319px;
}

.advantages__item_title-thre {
  margin: 25px 0 0 0;
  font: 31px/37px montserratextrabold, helvetica, sans-serif;
}

.advantages__item_subtitle-thre {
  margin-top: 10px;
  font: 20px/24px montserratmedium, helvetica, sans-serif;
}

.main__button {
  margin-top: 88px;
  width: 345px;
  height: 65px;
  background: #330099;
  border-radius: 50px;
  font: 20px/24px montserratextrabold, helvetica, sans-serif;
  color: #fff;
}

.skill {
  position: relative;
  margin: auto;
  color: #585858;
}

.skill__title {
  text-align: center;
  margin-top: 180px;
  font: 30px/37px montserratblack, helvetica, sans-serif;
}

.skill__item {
  display: flex;
  margin: 50px 38% 80px 130px;
}

.skill__item_right {
  display: flex;
  margin: 50px 130px 80px 38%;
  text-align: right;
}

.skill__text_up {
  font: 30px/37px montserratsemibold, helvetica, sans-serif;
  margin-left: 26px;
}

.skill__text_bottom {
  font: 20px/24px montserratmedium, helvetica, sans-serif;
  margin-left: 26px;
}

.form {
  position: relative;
  justify-content: center;
  text-align: center;
  background: rgba(51, 0, 153, 0.12);
}

.form__title {
  margin: 60px 0 36px 0;
  font: 30px/37px montserratblack, helvetica, sans-serif;
  color: #585858;
}

.form__subtitle {
  font: 20px/24px montserratmedium, helvetica, sans-serif;
  margin: 49px 520px 36px 520px;
  color: #585858;
}

.form__container {
  display: inline-block;
  text-align: center;
}

.form__line {
  text-align: justify;
  margin: 10px 570px;
  padding-left: 40px;
  width: 300px;
  height: 70px;
  border: 1px solid #e9e;
  border-radius: 50px;
  font: 20px/24px montserratsemibold, helvetica, sans-serif;
  color: #585858;
}

.form__btn {
  margin: 36px 570px 60px;
  width: 300px;
  height: 70px;
  left: 570px;
  top: 3020px;
  background: #4ab272;
  border-radius: 50px;
  font: 20px/24px montserratsemibold, helvetica, sans-serif;
  color: #fff;
}

.footer {
  position: relative;
  justify-content: center;
  background: rgba(51, 0, 153, 0.12);
}
